.tabela-moda, .tabela-casa{
  color: #ffffff;
}

.cabecalho-moda{
  background-color: #BB86FC;
}

.cabecalho-casa{
  background-color: #00C4B4
}

.produto{
  background-color: #424250;  
}

.produto td{
  padding: 10px;
}

.cabecalho th{
  padding: 15px;
}